body {
  background-image: url(background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container .exerciseTimer {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

.container .cooldownTimer {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input {
  width: 150px;
  margin-top: 10px;
  padding: 2px;
}

.intervalLength {
  width: 250px;
  height: 100px;
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.submit {
  text-align: center;
  font-size: .8em;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 10px;
  margin-left: 35px;
}
